
// SITE HEADER STYLES

.site-header {
  width: 100%;
  // position: fixed;
  background-color: $white;
  z-index: 50;
  top: 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__logo {
  display: block;
  transition: all 0.4s ease;
}

.header__logo:hover {
  transform: scale(1.03);
  filter: drop-shadow(2px 2px 2.5px #00ffa6);
}

.header__logo:active {
  transform: scale(0.90);
}

.header__phone-number {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: $dark-blue;
  text-decoration: none;
  margin-left: auto;
  margin-right: 60px;

  &::before {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    content: "";
    background-image: url("../../images/phone-call.svg");
    left: -25px;
    top: -3px;
  }

  &::after {
    position: absolute;
    display: block;
    width: 22px;
    height: 1px;
    content: "";
    background-color: $dark-blue;
    transform: rotate(90deg);
    right: -40px;
    top: 7px;
  }
}

.header__choose-language {
  display: flex;
  align-items: center;
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: $dark-blue;
  cursor: pointer;
  margin: 0;
  margin-right: 47px;

  &::after {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    content: "";
    background-image: url("../../images/header-arrow-btm.svg");
    right: -20px;
    top: 5px;
  }
}

.header__button {
  padding: 14px 28px 13px 29px;
}

.site-button {
  @include site-button;
  border: 3px solid transparent;
  transition: all 0.3s ease;
}

.site-button:hover {
  border: 3px solid #000;
  color: #000;
  background-color: #30D2A3;
}

.site-button:active {
  color: $white;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.header__menu {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: $dark-blue;
  text-transform: uppercase;
  margin: 0;
  margin-left: 30px;
  margin-right: 10px;
}

// .header__nav {

// }

.header__nav-input {
  display: none;
}

.header__checkbtn {
  cursor: pointer;
}

.header__burger-img {
  margin-top: 6px;
  padding: 3px;
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  transition: all 0.3s ease;
}

.header__burger-img:hover {
  border: 3px solid grey;
  border-radius: 7px;
}

.header__burger-img:active {
  background-color: rgb(220, 248, 255);
}

.header__menu-text-wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.header__menu-icon-back {
  display: block;
  width: 27px;
  height: 27px;
  margin-left: auto;
  padding: 3px;
  margin-right: 10px;
  border: 3px solid transparent;
  transition: all 0.3s ease;
}


.header__menu-icon-back:hover {
  border: 3px solid grey;
  border-radius: 7px;
}

.header__menu-icon-back:active {
  background-color: rgb(220, 248, 255);
}

.header__menu-text {
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  color: $dark-blue;
  text-transform: uppercase;  
  margin: 0;
  margin-left: 400px;
  margin-right: 12px;
}

.header__nav-input:checked~.header__list {
  left: 0;
}

.menu-logo {
  margin-top: 20px;
  margin-left: 90px;
  z-index: 51;
}

.header__list {
  @include list-unstyled;
  position: absolute;
  width:  512px;
  left: -515px;
  top: 0;
  z-index: 50;
  background-color: $white;
  transition: all 0.7s ease-out;
  box-shadow: 3px 0px 5px #65ffc965;
}

.header__item~.header__item {
  margin-top: 30px;
}

.header__item {
  margin-left: 90px;
  margin-top: 90px;
}

.header__item-link {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: $dark-blue;
  text-decoration: none;
  transition: all 0.2s ease;
}

.header__item-link:hover {
  color:  #06A39C;
}

.header__item-link:active {
  color: #30D2A3;
}

.header__menu-footer {
  margin-top: 50px;
  background-color: $dark-blue;
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer-menu__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.44;
  margin: 0;
  margin-left: 90px;
}

.footer-menu__contact {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-left: 90px;
  text-decoration: none;
}

.footer-menu__contact:hover {
  color: #06A39C;
}

.footer-menu__contact:active {
  color: #30D2A3;
}

.footer-menu__media-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.44;
  margin: 0;
  margin-top: 30px;
  margin-left: 90px;
}

.footer-menu__media-wrapper  {
  width: 248px;
  margin-left: 90px;
}

.footer-menu__media-wrapper-link {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 10px;
  transition: all 0.2s ease;
}

.footer-menu__media-wrapper-link~.footer-menu__media-wrapper-link {
  margin-left: 21px;
}

.footer-menu__media-wrapper-link:nth-child(4) {
  margin-left: 0;
}

.footer-menu__media-wrapper-link:hover {
  filter: drop-shadow(2px 2px 3px #ffffff);
}

.footer-menu__media-wrapper-link:active {
  transform: scale(0.95);
  filter: drop-shadow(2px 2px 3px #ffffff);
}

.menu-button {
  margin-top: 39px;
  margin-left: 44px;
  display: none;
}

.header__item-language {
  display: none;  
  align-items: center;
  margin-left: 44px;
  margin-top: 44px;  
}

.language__text~.language__text {
  margin-left: 30px;
}

.language__text {
  position: relative;
  z-index: 60;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #00094A;
  cursor: pointer;
  margin: 0;
  text-transform: uppercase;
}

.language__text--active{
  &::before {
    position: absolute;
    content: "";
    border: 1px solid #30D2A3;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    border-radius: 50px;
    background-color: #30D2A3;
    opacity: 0.4;
  }
}

.menu-logo-res {
  display: none;
}

// DESCTOP FIRST 
// RESPONSIVE

@include breakpointdown (767px) {
  .menu-logo {
    margin-left: 44px;
  }

  .header__list {
    width: 400px;
  }

  .header__item{
    margin-left: 44px;
  }

  .header__button {
    display: none;
  }

  .header__item-language {
    display: flex;
  }
  
  .header__item {
    margin-top: 44px;
  }

  .menu-button {
    display: inline-block;
  }

  .header__phone-number {
    display: none;
  }

  .header__choose-language {
    display: none;
  }

  .header__menu {
    margin-left: auto;
  }

  .header__menu-text {
    margin-left: auto;
  }
}

@include breakpointdown (576px) {
  .menu-logo {
    display: none;
  }

  .menu-logo-res {
    display: block;
    width: 100px;
    height: 22px;
    margin: 0;
    margin-left: 44px;
  }

.header__list {
  width: 320px;
  box-shadow: none;
} 

.header__item~.header__item {
  margin-top: 10px;
}



.footer-menu__text {
  margin-left: 44px;
}

.footer-menu__contact  {
  margin-left: 44px;
}

.footer-menu__media-text {
  margin-left: 44px;
}

.footer-menu__media-wrapper {
  margin-left: 44px;
}

}