// THANKS TO THEM STYLES

.thanks-section {
  overflow: hidden;
  padding-bottom: 100px;
}

// .thanks__wrapper {

// }

.thanks__uppper-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #00094A;
  margin: 0;
  text-transform: uppercase;
}

.thanks__title {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: #00094A;
  margin: 0;
  text-transform: uppercase;
}

.thanks__text {
  width: 100%;
  max-width: 582px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #00094A;
  opacity: 0.8;
  margin: 0;
  margin-top: 10px;

}

.thanks__list {
  position: relative;
  @include list-unstyled;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.thanks__item {
  width: 100%;
  max-width: 298px;
  height: 123px;
  border: 1px solid #ECECEC;
  margin-top: 30px;
  margin-left: 29px;
}

.thanks__item:nth-child(1) {
  margin-left: 0;
}

.thanks__item:nth-child(5) {
  margin-left: 0;
}

.thanks__item-img {
  display: block;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}

.thanks__item:nth-child(2) .thanks__item-img {
  margin-top: 38px;
}

.thanks__item:nth-child(3) .thanks__item-img {
  margin-top: 46px;
}

.thanks__item:nth-child(4) .thanks__item-img {
  margin-top: 35px;
}

.thanks__item:nth-child(5) .thanks__item-img {
  margin-top: 36px;
}

.thanks__item:nth-child(6) .thanks__item-img {
  margin-top: 43px;
}

.thanks__item:nth-child(7) .thanks__item-img {
  margin-top: 24px;
}

.thanks__item-dots {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

.thanks__button {
  display: block;
  width: 200px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 14px 28px;
  margin-top: 95px;
  margin-left: auto;
  margin-right: auto;
}


// RESPONSIVE

@include breakpointdown (1318px) {
  .thanks__item:nth-child(1) {
    margin-left: 29px;
  }

  .thanks__item:nth-child(5) {
    margin-left: 29px;
  }

  .thanks__item-dots {
    display: none;
  }
}

@include breakpointdown (768px) {
  .thanks__item:nth-child(odd) {
    margin-left: 0;
  }

  .thanks__title {
    font-size: 30px;
    line-height: 37px;

  }

  .thanks__text {
    max-width: 300px;
    font-size: 14px;
    line-height: 26px;
  }

}


@include breakpointdown (665px) {
  .thanks__item:nth-child(even) {
    margin-left: 0;
  }
}